* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*CLASSI DI SERVIZIO*/
.background-white {
    background-color: white;
}
.font-roboto {
    font-family: "Roboto", sans-serif;
}
.color-white {
    color: white;
}
.background-violet {
    background-color: violet;
}
.background-yellow {
    background-color: yellow;
}
.background-green {
    background-color: green;
}
.background-pink {
    background-color: pink;
}
.padding-5px {
    padding: 5px;
}
.radius-10 {
    border-radius: 10%;
}
/*REGOLE PAGINA*/
.body {
    background-color: blue;
}
.welcome-bar {
    padding-top: 10px;
    padding-left: 20px;
    height: 70px;   
    line-height: 100%;
}
.title-welcome-bar {
    display: inline;
    vertical-align: middle;
    font-weight: bold;
}
.logo-welcome-bar {
    vertical-align: middle;
}
.main {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    padding-left: 20px;
    padding-top: 10px;
}
.button {
    padding-bottom: 10px;
    margin-bottom: 10px solid blue;
}
.button .add-selection {
    color: gray;
}

